**I. Access dataset**

In [114]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [115]:
df = pd.read_csv('/content/drive/MyDrive/MSBA_Colab_2020/ML_Algorithms/movies_recommendation_data.csv')

In [116]:
df.head()

   Movie ID          Movie Name  IMDB Rating  ...  Mystery  History  Label
0        58  The Imitation Game          8.0  ...        0        0      0
1         8          Ex Machina          7.7  ...        1        0      0
2        46    A Beautiful Mind          8.2  ...        0        0      0
3        62   Good Will Hunting          8.3  ...        0        0      0
4        97        Forrest Gump          8.8  ...        0        0      0

[5 rows x 11 columns]

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

**II. Split the data to y and x**

In [118]:
df.drop(columns=['Label','Movie ID'], inplace= True)

In [119]:
x = df.iloc[:, 1:].values
y = df.iloc[:, 0].values

**III. Set up the Method for Nearest Neighbor model**

In [120]:
neigh = model_knn = NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski', metric_params=None, n_jobs=None, n_neighbors=5, p=2)
neigh.fit(x,y)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

**IV. Apply the values and check the prediction**

In [121]:
prediction = (neigh.kneighbors([[7.2,1,1,0,0,0,0,1]], return_distance=False))
prediction

array([[28, 27, 29, 16,  2]])

In [122]:
for movies in prediction:
  print(df.iloc[movies]['Movie Name'])

28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object